form {
	max-width: 500px;
	margin: 20px;
	padding: 20px;
	border-radius: 10px;
	background-color: white;
}

mat-form-field {
	width: 100%;
}

.form-field {
	display: flex;
	flex-direction: column;
	margin: 10px 0;
}

label {
	font-size: small;
}

.ng-dirty.ng-invalid,
.ng-touched.ng-invalid {
	border-color: red;
	border-width: 1px;
}

.error {
	font-size: x-small;
	color: red;
}

.preview {
	width: 300px;
	margin: 20px;
}

.main {
	width: calc(100% - 340px);
}

.preview,
.main {
	display: inline-block;
	vertical-align: top;
}

.button-container {
	display: flex;
	gap: 10px;
}
